.App {
  text-align: center;
}

@font-face {
  font-family: Alkatra;
  src: url('./fonts/Alkatra-VariableFont_wght.ttf');
}

@font-face {
  font-family: Prompt;
  src: url('./fonts/Prompt-MediumItalic.ttf');
}

@font-face {
  font-family: Poppins;
  src: url('./fonts/Poppins-Light.ttf');
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url('./files/Ocean_background.jpg');
  background-position: left;
  background-size:200vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  font-family: Poppins;
  color: black;
}

.ToolsAndData-overall {
  align-items: center;
  justify-content: top;
  display: flex;
  flex-direction: column;
}

.mapImage {
  width: 60vw;
  border-radius: 5px;
  box-shadow: #121212 1px 0 10px;
  margin: 10px;
}

.input-format {
  font-family: Poppins;
  margin: 10px;
  font-size: calc(10px + 2vmin);
  text-align: center;
  border-radius: 5px;
  max-width: 175px;
}

.mid-table-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.button {
  font-family: Poppins;
  margin: 10px;
  font-size: calc(10px + 2vmin);
  text-align: center;
  border-radius: 5px;
  background-color: #b7cb01;
}

.button:hover {
  font-family: Poppins;
  margin: 10px;
  font-size: calc(10px + 2vmin);
  text-align: center;
  border-radius: 5px;
  background-color: #e1e1ff;
  border-color: #b7cb01;
  transition: 0.1s;
}

.limit-width {
  max-width: 25vw;
  justify-content: top;
  align-items: top;
  align-content: top;
}

.large-text {
  font-family: Prompt;
  font-weight: 700;
  font-size: 10vh;
  color: #b7cb01;
  text-shadow: #121212 -2px 0 1px;
}

.transparent-text {
  color: transparent;
}

.medium-text {

}

.normal-text {
  font-size: 20px;
  text-rendering: optimizeLegibility;
}
