.App {
  text-align: center;
}

@font-face {
  font-family: Alkatra;
  src: url('./fonts/Alkatra-VariableFont_wght.ttf');
}

@font-face {
  font-family: Prompt;
  src: url('./fonts/Prompt-MediumItalic.ttf');
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: linear-gradient(180deg, #121212, #121232);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ToolsAndData-overall {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.mapImage {
  width: 50vw;
  border-radius: 5px;
}

.mid-table-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.large-text {
  font-family: Prompt;
  font-weight: 700;
  font-size: 10vh;
  background-image: linear-gradient(0deg, #83aec8, #ffffff);
  background-clip: text;
  color: transparent;
}

.medium-text {

}

.normal-text {

}
